@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fd5294;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.routrs-container {
  box-sizing: border-box;
  min-height: 100vh;
}
