@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #f6a1c4;
  font-family: 'Lato', sans-serif;
}

.routrs-container {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}
